doctype html
html(lang='en')
  include ../common/head.pug
  +head("Face Recognition System")
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      if user
        div(class="card" align="center")
          table.table(style="border:0px ")
            tbody(align="center")
              tr
                td
                  canvas(id="chanel1"  style="border:1px solid;width:720px")
                  form(action="/record_cctv1", method="POST")
                    button(type="submit").btn.btn-primary RECORD CCTV1
                td
                  canvas(id="chanel2"  style="border:1px solid;width:720px")
                  form(action="/record_cctv2", method="POST")
                    button(type="submit").btn.btn-primary RECORD CCTV2
              tr
                td
                  canvas(id="chanel3" style="border:1px solid;width:720px")
                  form(action="/record_cctv3", method="POST")
                    button(type="submit").btn.btn-primary RECORD CCTV3
                td
                  canvas(id="chanel4"  style="border:1px solid;width:720px")
                  form(action="/record_cctv4", method="POST")
                    button(type="submit").btn.btn-primary RECORD CCTV4
          a(style="color: red;") *After record from CCTV.File have been save in Downloads folder in your computer. Please Upload That file To Train a model
         
          form(method='POST',action='http://158.108.168.11:9997/upload', enctype='multipart/form-data')

            label.small.mb-1.mt-3 Name :
            input(type="text",name="name" required)
            input(type="file", name="file" required)
            input(type='submit', name="uploadimage", value='Upload Video')
          div(align="right")
            form(action="http://158.108.168.11:9997/get_person", method="POST")
              button(type="submit").btn.btn-primary Download model
          h2 List of people in the model
       
        div(class="card" align="center")
          if result
            table.table.tablesorter.table-bordered
              thead(align="center")
                tr
                  th(scope="col") Name
                  th(scope="col") Actions

                tr
              tbody(align="center")              
                for name in result
                  tr(id=name)
                    td
                      span #{name}
                    td 
                      form(action="/delete/"+name, method="POST")
                        button(type="submit").btn.btn-warning Delete
          if !result 
            h1 API CANNOT CONNECT
            
        script(type="text/javascript").
          
          var canvas1 = document.getElementById('chanel1');
          var canvas2 = document.getElementById('chanel2');
          var canvas3 = document.getElementById('chanel3');
          var canvas4 = document.getElementById('chanel4');
          var websocket1 = new WebSocket("ws://127.0.0.1:8887");

          var websocket2 = new WebSocket("ws://127.0.0.1:8888");
          var websocket3 = new WebSocket("ws://127.0.0.1:8889");
          var websocket4 = new WebSocket("ws://127.0.0.1:8890");
          var cam1= new jsmpeg(websocket1, {canvas:canvas1, autoplay:true, loop:true});
          var cam2= new jsmpeg(websocket2, {canvas:canvas2, autoplay:true, loop:true});
          var cam3= new jsmpeg(websocket3, {canvas:canvas3, autoplay:true, loop:true});
          var cam4= new jsmpeg(websocket4, {canvas:canvas4, autoplay:true, loop:true});
    include ../common/footer.pug
    +footer()
